.work-block {
    opacity: 0;
}

.work-image {
    margin-bottom: 20px;
}

.work-image img {
    border: 1px gainsboro solid;
}

.work-link-area {
    padding-bottom: 20px;
}

.work-link-area a {
    color: #1e88e5;
    display: block;
    padding-bottom: 3px;
    word-wrap: break-word;
}

.work-link-area a:hover {
    color: #0d47a1;
}

.work-text-area {
    padding-bottom: 40px;
}

.work-text-area p {
    font-size: 1em;
    padding-bottom: 8px;
    margin: 0px;
}

.work-text-area h2 {
    font-size: 2.5em;
    font-weight: 500;
    margin: 10px 0px 20px 0px;
}

.work-divider {
    background-color: gainsboro;
    height: 1px;
    margin: 80px 0px;
}

.start {
    margin-top: 80px;
}

.last {
    padding-bottom: 80px;
}

.left-fadein {
    animation: 1.0s ease-out left-fadein 0.2s;
    animation-fill-mode: forwards;
}

.right-fadein {
    animation: 1.0s ease-out right-fadein 0.2s;
    animation-fill-mode: forwards;
}

@keyframes left-fadein {
    from {
        opacity: 0;
        transform: translateX(-50px)
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes right-fadein {
    from {
        opacity: 0;
        transform: translateX(50px)
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}